* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #E0E8FF;
}

.container {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.all{
    width: 452px;
    height: 450px;
    background-color: white;
    border-radius: 0 0 20px 20px;
}

.order {
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
    font-size: larger;
}

.textb {
    text-align: center;
    margin: 10px;
    padding-top: 10px;
    line-height: 25px;
    opacity: 60%;
}

.square {
    display: flex;
    flex-direction: row;
    height: 102px;
    width: 353px;
    background-color: #F8F9FE;
    border-radius: 10px;
    margin: 20px;
    margin-left: 50px;
}

.annual {
    margin-left: 10px;
    padding-top: 28px;
    font-weight: bold;
}

.year {
    margin: 10px;
    
}

.change {
    padding-left: 90px;
    padding-top: 43px;
    text-decoration: underline;
    color: #382AE1;
    font-weight: bold;
}

.flex{
    display: flex;
    flex-direction: column;
}

button {
    width: 353px;
    height: 53px;
    border-radius: 10px;
    margin: 10px;
    background-color: #382AE1;
    color: white;
    border-color: #382AE1;
    box-shadow: 2px 3px #a7a7a7;
}

.last {
    text-align: center;
}

.img1 {
    width: 452px;
    height: 220px;
    border-radius: 20px 20px 0 0;
}

.img2 {
    width: 70px;
    height: 75px;
    padding-left: 10px;
    padding-top: 30px;
}

.cancel {
    padding-top: 30px;
    font-weight: bold;
    opacity: 50%;
}

.pay {
    font-weight: bold;
    font-size: medium;
}

@media only screen and (max-width: 375px) {
    .img1 {
    width: 328px;
    height: 165px;
    border-radius: 20px 20px 0 0;
    }

    .all {
        width: 328px;
        height: 450px;
        background-color: white;
        border-radius: 0 0 20px 20px;
    }

    .square {
        display: flex;
        flex-direction: row;
        height: 102px;
        width: 285px;
        background-color: #F8F9FE;
        border-radius: 10px;
        margin: 20px;
    }

    .change{

        padding-left: 20px;
        padding-top: 43px;
        text-decoration: underline;
        font-weight: bold;
        color: #382AE1;

    }

    button {
        width: 300px;
        height: 53px;
        border-radius: 10px;
        margin: 10px;
        background-color: #382AE1;
        color: white;
        border-color: #382AE1;
        box-shadow: 2px 3px #a7a7a7;

        padding-left: 20px;
        padding-top: 43px;
        text-decoration: underline;
        color: #382AE1;
    }

    button {
        width: 300px;
        height: 53px;
        border-radius: 10px;
        margin: 10px;
        background-color: #382AE1;
        color: white;
        border-color: #382AE1;
        box-shadow: 2px 3px #a7a7a7;

    }

    button {
        width: 300px;
        height: 53px;
        border-radius: 10px;
        margin: 10px;
        background-color: #382AE1;
        color: white;
        border-color: #382AE1;
        box-shadow: 2px 3px #a7a7a7;

    padding-left: 20px;
    padding-top: 43px;
    text-decoration: underline;
    color: #382AE1;
    }

    button {
    width: 300px;
    height: 53px;
    border-radius: 10px;
    margin: 10px;
    background-color: #382AE1;
    color: white;
    border-color: #382AE1;
    box-shadow: 2px 3px #a7a7a7;


    }
}

