* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-hover-color: #766cf1;
  --cancel-hover-color: #2a2d3a;
  --body-color: #e0e8ff;
  --background-color: rgb(255, 255, 255);
  --square--background-color: #f8f9fe;
  --change-link-color: #382ae1;
  --box-shadow: #a7a7a7;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--body-color);
}

.container {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

article {
  display: flex;
  flex-direction: column;
}

.all {
  width: 452px;
  height: 450px;
  background-color: var(--background-color);
  border-radius: 0 0 20px 20px;
}

.order {
  text-align: center;
  padding-top: 20px;
  font-weight: bold;
  font-size: larger;
}

.textb {
  text-align: center;
  margin: 10px;
  padding-top: 10px;
  line-height: 25px;
  opacity: 60%;
}

.square {
  display: flex;
  flex-direction: row;
  height: 102px;
  width: 353px;
  background-color: var(--square--background-color);
  border-radius: 10px;
  margin: 20px;
  margin-left: 50px;
}

.annual {
  margin-left: 10px;
  padding-top: 28px;
  font-weight: bold;
}

.year {
  margin: 10px;
}

.change {
  padding-left: 90px;
  padding-top: 43px;
  text-decoration: underline;
  color: var(--change-link-color);
  font-weight: bold;
}

.flex {
  display: flex;
  flex-direction: column;
}

button {
  width: 353px;
  height: 53px;
  border-radius: 10px;
  margin: 10px;
  background-color: var(--change-link-color);
  color: var(--background-color);
  border-color: var(--change-link-color);
  box-shadow: 2px 3px var(--box-shadow);
}

.last {
  text-align: center;
}

.img1 {
  width: 452px;
  height: 220px;
  border-radius: 20px 20px 0 0;
}

.img2 {
  width: 70px;
  height: 75px;
  padding-left: 10px;
  padding-top: 30px;
}

.cancel {
  padding-top: 30px;
  font-weight: bold;
  opacity: 50%;
}

.pay {
  font-weight: bold;
  font-size: medium;
}

@media only screen and (max-width: 375px) {
  .img1 {
    width: 328px;
    height: 165px;
    border-radius: 20px 20px 0 0;
  }

  .all {
    width: 328px;
    height: 450px;
    background-color: var(--background-color);
    border-radius: 0 0 20px 20px;
  }

  .square {
    display: flex;
    flex-direction: row;
    height: 102px;
    width: 285px;
    background-color: var(--square--background-color);
    border-radius: 10px;
    margin: 20px;
  }

  .change {
    padding-left: 20px;
    padding-top: 43px;
    text-decoration: underline;
    font-weight: bold;
    color: var(--change-link-color);
  }

  button {
    width: 300px;
    height: 53px;
    border-radius: 10px;
    margin: 10px;
    background-color: var(--change-link-color);
    color: var(--background-color);
    border-color: var(--change-link-color);
    box-shadow: 2px 3px var(--box-shadow);
    padding-left: 20px;
    padding-top: 43px;
    color: var(--change-link-color);
  }

  button {
    width: 300px;
    height: 53px;
    border-radius: 10px;
    margin: 10px;
    background-color: var(--change-link-color);
    color: var(--background-color);
    border-color: var(--change-link-color);
    box-shadow: 2px 3px var(--box-shadow);
  }

  button {
    width: 300px;
    height: 53px;
    border-radius: 10px;
    margin: 10px;
    background-color: var(--change-link-color);
    color: var(--background-color);
    border-color: var(--change-link-color);
    box-shadow: 2px 3px var(--box-shadow);
    padding-left: 20px;
    padding-top: 43px;
    color: var(--change-link-color);
  }

  button {
    width: 300px;
    height: 53px;
    border-radius: 10px;
    margin: 10px;
    background-color: var(--change-link-color);
    color: var(--background-color);
    border-color: var(--change-link-color);
    box-shadow: 2px 3px var(--box-shadow);
  }

  .pay {
    padding-top: 1px;
    padding-right: 15px;
  }
}

.change:hover {
  cursor: pointer;
  color: var(--main-hover-color);
  text-decoration: none;
}

.cancel:hover {
  cursor: pointer;
  color: var(--cancel-hover-color);
}

.pay:hover {
  cursor: pointer;
  background-color: var(--main-hover-color);
  border-color: var(--main-hover-color);
}
